<%= link_to group_path(group.id), class: 'default-link' do %>
  <div class='category-container d-flex mt-1'>
    <img class="group-icon mr-1" src='<%= group.icon %>' alt='category-icon'/>
    <div class='d-flex flex-column w-100'>
        <div class='d-flex justify-between'>
          <p class="fc-1">
            <%= group.name %>
          </p>
          <p class="fc-1">
            Transactions: <%= group.transaction_groups.length %>
          </p>
        </div>
        <p class="mt-auto mb-1 fc-1">
          Created: <%= group.created_at.strftime('%d %b %Y') %>
        </p>
    </div>
  </div>
<% end %>