<div class="d-flex flex-column pt-100p">
  <div class="d-flex flex-column">
      <%= form_with url: registration_path(resource_name), scope: resource, class: 'd-flex flex-column  background-color-1' do |f| %>
        <%= render partial: 'errors/form_errors', locals: { model: resource} %>

        <div class="field input-border">
          <%= f.text_field :name, autofocus: true, placeholder: 'Full name', autocomplete: "name", class: 'default-input w-100' %>
        </div>

        <div class="field input-border">
          <%= f.email_field :email, autofocus: true, placeholder: 'Email', autocomplete: "email", class: 'default-input w-100' %>
        </div>

        <div class="field input-border">
          <%= f.password_field :password, placeholder: 'Password', autocomplete: "new-password", class: 'default-input w-100' %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, placeholder: 'Password confirmation', autocomplete: "new-password", class: 'default-input w-100' %>
        </div>
        <%= f.submit "Sign Up", class: "d-hidden submit-btn" %>
      <% end %>

  </div>
</div>